<style> form div { padding:10px; } </style>

<form action="/contacts/<%= @contact.id %> " method="post">
  <input name="_method" type="hidden" value="patch"/>
  <div>
    <label for="contact_first_name">First Name:</label>
    <input type="text" name="contact[first_name]"placeholder="<%= @contact.first_name %>"/><br>
  </div>
  <div>
    <label for="contact_last_name">Last Name:</label>
    <input type="text" name="contact[last_name]"placeholder="<%= @contact.last_name %>"/><br>
  </div>
  <div>
    <label for="contact_email">Email:</label>
    <input type="email" name="contact[email]" placeholder="<%= @contact.email %>"/><br>
  </div>
  <div>
    <input type="submit" value="Update Contact!"/>
  </div>
</form>

<a href="/">Home</a>
